absl-py==2.1.0
certifi==2024.2.2
charset-normalizer==3.3.2
contourpy==1.2.0
cycler==0.12.1
dm-tree==0.1.8
docutils==0.20.1
fonttools==4.49.0
h5py==3.10.0
idna==3.6
importlib_metadata==7.0.2
iniconfig==2.0.0
jaraco.classes==3.3.1
keras==3.0.5
keyring==24.3.1
kiwisolver==1.4.5
markdown-it-py==3.0.0
matplot==0.1.9
matplotlib==3.8.3
mdurl==0.1.2
ml-dtypes==0.3.2
more-itertools==10.2.0
namex==0.0.7
nh3==0.2.15
numpy==1.26.4
packaging==24.0
pillow==10.2.0
pkginfo==1.10.0
pluggy==1.4.0
Pygments==2.17.2
pyloco==0.0.139
pyparsing==3.1.2
pytest==8.1.1
pytest-mock==3.12.0
python-dateutil==2.9.0.post0
readme_renderer==43.0
requests==2.31.0
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==13.7.1
SimpleWebSocketServer==0.1.2
six==1.16.0
twine==5.0.0
typing==3.7.4.3
urllib3==2.2.1
ushlex==0.99.1
websocket-client==1.7.0
zipp==3.18.0
